<!DOCTYPE html>
<html>
<head>
	<script src="angular.min.js"></script>
	<title>scope001</title>
	<script type="text/javascript">
      angular.module('myApp',[])
      	.controller('MyController',function($scope) {
      		$scope.person = {
      			greeted : false
      		};
          $scope.test = [
          {
            name : "test001",
            age : 18,
            mind : "sdlfjsl",
            mark : true
          },
          {
            name : "test002",
            age : 18,
            mind : "sdlfjsl",
            mark : true
          }];
      	})
      	.controller('ChildController',function($scope){
      		$scope.sayHello = function() {
      			$scope.person.name = 'Sdfjlkdsjlkj';
      		};
      	});

    </script>
</head>
  <body>
    <div ng-app="myApp">
    	<div ng-controller="MyController">

        <div ng-repeat="t in test">
          <h1>{{ t.name }}</h1>
          <h2>{{ t.age }}</h2>
          <h2>{{ t.mind }}</h2>
        </div>

    		<div ng-controller="ChildController">
    			<a ng-click="sayHello()">Hello</a>
    		</div>
    		{{ person }}
  		</div>
	</div>
  </body>
</html>